@model IEnumerable<Enrollment>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <ul style="list-style-type: none" class="list-group">
        @foreach(var enrollment in @Model)
        {
            <li>@enrollment.Student.FirstName @enrollment.Student.LastName - @enrollment.Course.Title (@enrollment.Grade)</li>
        }
    </ul>
</div>
